@using Microsoft.AspNetCore.Identity
@using CdDiskStoreAspNetCore.Data.Repository;
@model IndexViewModel<AdultFilmRatio>
@inject SignInManager<IdentityUser> SignInManger

@if (!SignInManger.IsSignedIn(User))
{
    <h1 style="color: red;">ACCESS DENIED</h1>
}
else
{
    <h1>Debtors</h1>

    <div class="container">
        <div class="container">
            <form asp-controller="AdminPanel" asp-action="Index" method="post">
                <div class="row mb-3">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="FilterFieldName">Filter by:</label>
                            @Html.DropDownList("FilterFieldName", new SelectList(IndexViewModel<AdultFilmRatio>.FilterableFieldNames, Model.FilterFieldName), new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="filter">Filter:</label>
                            <input type="text" id="filter" name="filter" value="@Model.Filter" class="form-control" />
                        </div>
                    </div>

                    <div class="col-md-3 d-grid">
                        <input type="submit" value="Filter" class="btn btn-primary" title="Filter" />
                    </div>
                </div>
            </form>
        </div>

        <div class="row" style="width: 80vw;">
            @if (Model.Items != null && Model.Items.Any())
            {
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>
                                @{
                                    await Html.RenderPartialAsync("_SortField", new SortModel { ViewModel = Model, FieldName = "OrderYear" });
                                }
                            </th>
                            <th>
                                @{
                                    await Html.RenderPartialAsync("_SortField", new SortModel { ViewModel = Model, FieldName = "Sex" });
                                }
                            </th>
                            <th>
                                @{
                                    await Html.RenderPartialAsync("_SortField", new SortModel { ViewModel = Model, FieldName = "January" });
                                }
                            </th>
                            <th>
                                @{
                                    await Html.RenderPartialAsync("_SortField", new SortModel { ViewModel = Model, FieldName = "February" });
                                }
                            </th>
                            <th>
                                @{
                                    await Html.RenderPartialAsync("_SortField", new SortModel { ViewModel = Model, FieldName = "March" });
                                }
                            </th>
                            <th>
                                @{
                                    await Html.RenderPartialAsync("_SortField", new SortModel { ViewModel = Model, FieldName = "April" });
                                }
                            </th>
                            <th>
                                @{
                                    await Html.RenderPartialAsync("_SortField", new SortModel { ViewModel = Model, FieldName = "May" });
                                }
                            </th>
                            <th>
                                @{
                                    await Html.RenderPartialAsync("_SortField", new SortModel { ViewModel = Model, FieldName = "June" });
                                }
                            </th>
                            <th>
                                @{
                                    await Html.RenderPartialAsync("_SortField", new SortModel { ViewModel = Model, FieldName = "July" });
                                }
                            </th>
                            <th>
                                @{
                                    await Html.RenderPartialAsync("_SortField", new SortModel { ViewModel = Model, FieldName = "August" });
                                }
                            </th>
                            <th>
                                @{
                                    await Html.RenderPartialAsync("_SortField", new SortModel { ViewModel = Model, FieldName = "September" });
                                }
                            </th>
                            <th>
                                @{
                                    await Html.RenderPartialAsync("_SortField", new SortModel { ViewModel = Model, FieldName = "October" });
                                }
                            </th>
                            <th>
                                @{
                                    await Html.RenderPartialAsync("_SortField", new SortModel { ViewModel = Model, FieldName = "November" });
                                }
                            </th>
                            <th>
                                @{
                                    await Html.RenderPartialAsync("_SortField", new SortModel { ViewModel = Model, FieldName = "December" });
                                }
                            </th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OrderYear)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Sex)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.January)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.February)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.March)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.April)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.May)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.June)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.July)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.August)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.September)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.October)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.November)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.December)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <h1>No debtors in the database</h1>
            }

            @{
                await Html.RenderPartialAsync("_Pagination", Model);
            }
        </div>

    </div>
}