@model CdDiskStoreAspNetCore.Data.Models.Music

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <h1 class="mb-4">Details</h1>

    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Music</h4>
            <hr />

            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Genre)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Genre)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Artist)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Artist)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Language)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Language)
                </dd>
            </dl>
        </div>
    </div>

    <div class="mt-3">
        <a asp-action="Create" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>