@using CdDiskStoreAspNetCore.Models.Enums
@using CdDiskStoreAspNetCore.Models.Interfaces;
@using CdDiskStoreAspNetCore.Models.Interfaces.Data;
@model CdDiskStoreAspNetCore.Models.SortModel

@{
    if (Model.ViewModel is not IDataProcessable processable)
    {
        <p>
            IDataProcessable interface is not implemented
        </p>
    }
    else
    {
        string arrow = "";

        if (processable.SortFieldName == Model.FieldName)
        {
            processable.SortOrder = (processable.SortOrder == MySortOrder.Ascending)
                ? MySortOrder.Descending
                : MySortOrder.Ascending;

            arrow = (processable.SortOrder == MySortOrder.Ascending)
            ? "fa-sort-up"
            : "fa-sort-down";
        }
        
        <a asp-action="Index"
           asp-route-sortField="@Model.FieldName"
           asp-route-sortOrder="@processable.SortOrder"
           asp-route-filterFieldName="@processable.FilterFieldName"
           asp-route-filter="@processable.Filter"
           asp-route-skip="@processable.Skip">
            @Model.FieldName <i class="fas @arrow"></i>
        </a>
    }
}