@inject SignInManager<IdentityUser> SignInManger
@model CdDiskStoreAspNetCore.Data.Models.Client

@{
    string action = ViewData["Action"] as string;
}

@if (!SignInManger.IsSignedIn(User) && (!User.IsInRole("Administrator") || !User.IsInRole("Manager")))
{
    <h1 style="color: red;">ACCESS DENIED</h1>
}
else
{
    <div class="container mt-3">
        <h1>@action</h1>

        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Client</h4>
                <hr />
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Address" class="control-label"></label>
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="City" class="control-label"></label>
                        <input asp-for="City" class="form-control" />
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ContactPhone" class="control-label"></label>
                        <input type="tel" placeholder="0501234567" asp-for="ContactPhone" class="form-control" />
                        <small id="phoneHelp" class="form-text text-muted">Будь ласка, введіть свій номер телефону в українському форматі (0501234567).</small>
                        <span asp-validation-for="ContactPhone" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ContactMail" class="control-label"></label>
                        <input placeholder="user@example.com" asp-for="ContactMail" class="form-control" />
                        <span asp-validation-for="ContactMail" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BirthDay" class="control-label"></label>
                        <input asp-for="BirthDay" class="form-control" />
                        <span asp-validation-for="BirthDay" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="MarriedStatus" /> @Html.DisplayNameFor(model => model.MarriedStatus)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Sex" /> @Html.DisplayNameFor(model => model.Sex)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="HasChild" /> @Html.DisplayNameFor(model => model.HasChild)
                        </label>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="@action" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div class="mt-3">
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}